@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-noto: "Noto Sans TC", sans-serif;

  --spacing-18: 4.5rem  /* 72px */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0a09;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-noto
}

body::selection {
  @apply bg-slate-800 text-white
}

.text-border{
  text-shadow: -1px 0  #0c0a09, 0 1px  #0c0a09, 1px 0  #0c0a09, 0 -1px  #0c0a09;
}

.section-title {
  @apply text-2xl font-semibold text-gray-100 mb-6
}

.section-title::after {
  position: absolute;
  z-index: -1;
  bottom: 0rem;
  left: -0.5rem;
  right: -0.5rem;
  content: '　';
  height: 1rem;
  @apply bg-slate-700
}

/* .solid-shadow {
  position: relative;
}

.solid-shadow::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: -5px;
  bottom: -5px;
  background-color: #cacaca;
  z-index: -1;
  mix-blend-mode: multiply;
} */